* {
  background-color: whitesmoke;
  color: #231F20;
  font-family: "San Francisco", sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
}
a,p,h1,h2,i,b,div,img {
  background-color: inherit;
}
body {
  margin: 0;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  z-index: 1;
  padding-bottom: 21px;
}
#instagram-logo {
  display: inline-block;
  vertical-align: middle;
}
#header img{
  display: inline-block;
  border-left: 1px solid grey;
  margin-top: 20px;
  padding-left: 15px;
  height: 35px;
  vertical-align: sub;
}
i {
  padding-right: 15px;
}
#left {
  background-color: white;
  width: 33%;
  margin: auto;
}
#middle {
  background-color: white;
  width: 33%;
  margin: auto;
  padding-top: 30px;
}
#header input[type="text"] {
  text-align: center;
  height: 20px;
  width: 210px;
  border-radius: 5px;
  border-style: solid;
  border-color: silver;
  border-width: 0.5px;
}
#header input[type="text"]:focus {
  outline: none;
  text-align: left;
  background-color: white;
}
#header input[type="text"]::placeholder {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: silver;
  font-size: 12px;
}
#right {
  background-color: white;
  width: 33%;
  margin: auto;
  padding-top: 20px;
}
.fa-user {
  margin-left: 15px;
}
.column {
  float: left;
}
#column-wrapper {
  width: 907px;
  margin: auto;
  display: flex;
}
#posts {
  margin-top: 135px;
}
.post {
  border: 1px solid lightgrey;
  background-color: white;
  line-height: 5px;
  width: 600px;
  margin-bottom: 60px;
}
.profile-username {
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  font-weight: 700;
}
#my-profile-pic img {
  background-color: white;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  height: 30px;
}
#instagram-profile-pic img{
  background-color: white;
  height: 37px;
  padding-left: 6px;
  padding-top: 11px;
  padding-right: 7px;
  float: left;
}
.posted-pic img {
  width: 600px;
}
.posted-pic {
  margin-bottom: 10px;
}
.fa-heart {
  padding-left: 10px;
}
.fa-comment {
  padding-right: 0;
}
.fa-bookmark {
  float: right;
}
.likes-and-comments{
  padding-left: 10px;
  padding-right: 10px;
}
.likes {
  font-weight: bold;
  padding-bottom: 5px;
}
.view {
  color: grey;
  padding-bottom: 5px;
}
.likes-and-comments a {
  color: #2c508a;
  text-decoration: none;
}
#comment-heart, #comment-heart-1, #comment-heart-2 {
  float: right;
  padding: 0;
  color: silver;
}
.post .time-stamp {
  text-transform: uppercase;
  color: grey;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
hr {
  border-color: whitesmoke;
  border-width: 0.5px;
}
p input[type="text"] {
  width: 540px;
  border: none;
  background-color: inherit;
  padding-left: 10px;
  height: 25px;
}
p input[type="text"]:focus {
  outline: none;
}
p input[type="text"]::placeholder {
  color: silver;
}
.comment-box {
  color: lightblue;
}
#sidebar {
  margin-top: 121px;
  margin-left: 30px;
}
#stickybar {
  position: sticky;
  top: 105px;
}
#my-profile-pic-2 img {
  height: 50px;
  float: left;
  padding-right: 10px;
}
.username {
  font-weight: bold;
}
#me {
  line-height: 5px;
  margin-bottom: 30px;
}
#me .username {
  padding-top: 12px;
}
#name {
  color: grey;
  font-size: 11.5px;
}
#stories-box {
  margin-top: 30px;
  padding-top: 7px;
  padding-bottom: 10px;
  height: 205px;
  overflow-y: scroll;
  width: 255px;
}
#suggestions-box {
  height: 192px;
}
.title {
  float: left;
  font-weight: bold;
  color: grey;
}

.all {
  float: right;
  font-weight: bold;
  font-size: 12px;
}

#stories-box {
  margin-top: 15px;
}
#stories, #suggestions {
  margin-top: 28px;
}
.story {
  display: inline-block;
}
#stories img {
  height: 42px;
  float: left;
}
.story-text {
  float: left;
  margin-left: 10px;
  line-height: 3px;
}
.story {
  margin-top: 7px;
}
#stories .time-stamp {
  text-transform: uppercase;
  color: grey;
  font-size: 10px;
}
#suggestions-box {
  padding-top: 10px;
}
.suggestion {
  margin-top: 25px;
}
#suggestions img {
  height: 37px;
  float: left;
  padding-right: 10px;
}
.follow-button {
  color: dodgerblue;
  font-weight: bold;
  float: right;
  font-size: 12px;
}
.followed-by {
  color: grey;
  font-size: 11.7px;
}
.sidebar-box {
  border: 1px solid lightgrey;
  background-color: white;
  line-height: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 14px;
}
nav a, nav p{
  color: silver;
  text-decoration: none;
  font-size: 10.5px;
  line-height: 18px;
}
@media screen and (max-width: 1000px) {
  #sidebar{
    display: none;
  }
  #column-wrapper {
    width: 600px;
    margin: auto;
  }
}
@media screen and (max-height: 500px) {
  #sidebar{
    display: none;
  }
  #column-wrapper {
    width: 600px;
    margin: auto;
  }
}
